<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Booking</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/stylesheets/landingPage.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Airline</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser){  %>
                    <li><a class="nav-link" href="/login">登录 <i class="fas fa-user"></i></a></li>
                    <li><a class="nav-link" href="/register">注册 <i class="fas fa-user-plus"></i></a></li>
                    <% } else { %>
                    <li><a class="nav-link" href="/user/<%=currentUser._id%>"><%= currentUser.username %> </a></li>
                    <li><a class="nav-link" href="/logout">注销</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- form start -->
                <form style="padding-bottom: 40px;" action="/login" method="post" class="form-container">
                    <h2>登录</h2>
                    <div class="form-group">
                        <label for="exampleInputEmail1">用户名</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button style="margin-bottom: 10px;" type="submit" class="btn btn-success btn-block">登录</button>
                    <a class="text-light" href="/register">注册</a>
                </form>
                <!-- form end -->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>


<%- include("partials/footer") %>