body {
    background-image: url(../image/airplane.jpg);
    background-size: cover;
    background-position: left 25%;
    background-repeat: no-repeat;
    font-family: Lato;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding-top: 3px;
    padding-bottom: 3px;
}

.delete-form {
    display: inline;
}